<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.AttendanceRuleOpMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `rule_id`,
        `op_id`,
        `del_flag`,
        `version`,
        `op_name`
    </sql>

    <select id="findAttendanceRuleOpPage" resultType="com.jiumai.base.biz.vo.AttendanceRuleOpVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_attendance_rule_op
        WHERE del_flag = 1
    </select>
</mapper>
