<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.AttendanceRuleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `rule_name`,
        `rule_description`,
        `center_address`,
        `center_longitude`,
        `center_latitude`,
        `center_range`,
        `attendance_person`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`,
        `team_flag`
    </sql>

    <select id="findAttendanceRulePage" resultType="com.jiumai.base.biz.vo.AttendanceRuleVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_attendance_rule
        WHERE del_flag = 1
    </select>
</mapper>
