<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.CleaningSituationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `cleaning_area_id`,
        `cleaning_area_name`,
        `cleaning_type`,
        `street_name`,
        `street_path`,
        `community_name`,
        `community_path`,
        `create_id`,
        `create_name`,
        `create_date`
    </sql>

    <select id="findCleaningSituationPage" resultType="com.jiumai.base.biz.vo.CleaningSituationVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_cleaning_situation
    </select>
</mapper>
