<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.FamilyCardInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `license_plate_number`,
        `account_code`,
        `account_type`,
        `parking_lot_code`,
        `parking_lot_name`,
        `card_balance`,
        `recharge_time`,
        `recharge_amount`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findFamilyCardInfoPage" resultType="com.jiumai.base.biz.vo.FamilyCardInfoVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_family_card_info
        WHERE del_flag = 1
    </select>
</mapper>
