<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.GridPersonnelMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `street_id`,
        `street_name`,
        `street_path`,
        `community_id`,
        `community_name`,
        `community_path`,
        `grid_id`,
        `grid_name`,
        `grid_path`,
        `user_name`,
        `age`,
        `sex`,
        `position_type`,
        `jurisdiction`,
        `party_member_status`,
        `images`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findGridPersonnelPage" resultType="com.jiumai.base.biz.vo.GridPersonnelVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_grid_personnel
        WHERE del_flag = 1
    </select>
</mapper>
