<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.HelpMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `type`,
        `sub_type`,
        `help_object`,
        `help_date`,
        `description`,
        `images`,
        `street_path`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`,
        `help_source`
    </sql>

    <select id="findHelpPage" resultType="com.jiumai.base.biz.vo.HelpVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_help
        WHERE del_flag = 1
    </select>
</mapper>
