<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.IntegralRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `integral_source`,
        `type`,
        `user_name`,
        `phone`,
        `house_address`,
        `integral_sum`,
        `integral_balance`,
        `status`,
        `create_id`,
        `create_name`,
        `create_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findIntegralRecordPage" resultType="com.jiumai.base.biz.vo.IntegralRecordVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_integral_record
        WHERE del_flag = 1
    </select>
</mapper>
