<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.MiniClickStatisticsDetailsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `ref_id`,
        `phone`,
        `module_name`,
        `module_op_type`,
        `create_id`,
        `create_name`,
        `create_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findMiniClickStatisticsDetailsPage" resultType="com.jiumai.base.biz.vo.MiniClickStatisticsDetailsVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_mini_click_statistics_details
        WHERE del_flag = 1
    </select>
</mapper>
