<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.NeighborhoodGoodsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `goods_description`,
        `images`,
        `goods_price`,
        `topic_control`,
        `type`,
        `goods_status`,
        `recommend`,
        `approved_date`,
        `audit`,
        `evaluation_quantity`,
        `views`,
        `reject_reason`,
        `off_shelf`,
        `head_image`,
        `area_name`,
        `area_path`,
        `phone`,
        `community_path`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findNeighborhoodGoodsPage" resultType="com.jiumai.base.biz.vo.NeighborhoodGoodsVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_neighborhood_goods
        WHERE del_flag = 1
    </select>
</mapper>
