<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.NewIntegralRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `user_name`,
        `integral_record_type`,
        `integral_type`,
        `subdivision_type`,
        `integral_source`,
        `consumption_object`,
        `integral_sum`,
        `integral_balance`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`,
        `operator_id`,
        `source_id`
    </sql>

    <select id="findNewIntegralRecordPage" resultType="com.jiumai.base.biz.vo.NewIntegralRecordVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_new_integral_record
        WHERE del_flag = 1
    </select>
</mapper>
