<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.NewIntegralConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `integral_config_type`,
        `integral_value`,
        `amount_value`,
        `obtain_limit`,
        `enable_status`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findNewIntegralConfigPage" resultType="com.jiumai.base.biz.vo.NewIntegralConfigVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_new_integral_config
        WHERE del_flag = 1
    </select>
</mapper>
