<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.NoticeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `notice_title`,
        `notice_source`,
        `notice_type`,
        `notice_cover_picture`,
        `notice_content`,
        `notice_top_status`,
        `notice_status`,
        `area_path`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findNoticePage" resultType="com.jiumai.base.biz.vo.NoticeVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_notice
        WHERE del_flag = 1
    </select>
</mapper>
