<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.OneRepairMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `relation_type`,
        `voice_file`,
        `voice_file_name`,
        `voice_seconds`,
        `rel_house_property_name`,
        `service_order_id`,
        `create_id`,
        `create_name`,
        `create_date`,
        `create_phone`,
        `create_path`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findOneRepairPage" resultType="com.jiumai.base.biz.vo.OneRepairVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_one_repair
        WHERE del_flag = 1
    </select>
</mapper>
