<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.PartyMemberServiceCenterMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `street_id`,
        `area_id`,
        `service_center_address`,
        `service_center_longitude`,
        `service_center_latitude`,
        `party_member_num`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findPartyMemberServiceCenterPage" resultType="com.jiumai.base.biz.vo.PartyMemberServiceCenterVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_party_member_service_center
        WHERE del_flag = 1
    </select>
</mapper>
