<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.PatrolListPointMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `patrol_list_id`,
        `patrol_list_name`,
        `point_id`,
        `point_name`,
        `point_type`,
        `point_address`,
        `point_status`,
        `patrol_date`,
        `patrol_details`,
        `patrol_user_name`,
        `patrol_images`,
        `patrol_situation`,
        `patrol_report_type`,
        `handle_after_images`,
        `handle_details`,
        `patrol_source`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findPatrolListPointPage" resultType="com.jiumai.base.biz.vo.PatrolListPointVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_patrol_list_point
        WHERE del_flag = 1
    </select>
</mapper>
