<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.PictureDocumentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `picture_title`,
        `picture_type`,
        `picture_sub_type`,
        `street_id`,
        `street_name`,
        `introduce`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findPictureDocumentPage" resultType="com.jiumai.base.biz.vo.PictureDocumentVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_picture_document
        WHERE del_flag = 1
    </select>
</mapper>
