<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.PictureDocumentFileMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `picture_id`,
        `file_name`,
        `file_path`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findPictureDocumentFilePage" resultType="com.jiumai.base.biz.vo.PictureDocumentFileVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_picture_document_file
        WHERE del_flag = 1
    </select>
</mapper>
