<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.ProcessRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `process_id`,
        `level`,
        `role_id`,
        `role_name`,
        `node_type`,
        `node_status`,
        `reject_reason`,
        `node_can_op_name`,
        `node_op_id`,
        `node_op_name`,
        `node_op_org`,
        `node_op_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findProcessRecordPage" resultType="com.jiumai.base.biz.vo.ProcessRecordVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_process_record
        WHERE del_flag = 1
    </select>
</mapper>
