<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.PropertyDeviceRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `device_id`,
        `attendance_record_id`,
        `collection_time`,
        `return_time`,
        `remark`,
        `upload_file`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findPropertyDeviceRecordPage" resultType="com.jiumai.base.biz.vo.PropertyDeviceRecordVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_property_device_record
        WHERE del_flag = 1
    </select>
</mapper>
