<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.RectificationFormMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `rectification_form_name`,
        `check_date`,
        `deadline`,
        `area_id`,
        `area_name`,
        `total_deductions`,
        `status`,
        `rectification_issues`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findRectificationFormPage" resultType="com.jiumai.base.biz.vo.RectificationFormVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_rectification_form
        WHERE del_flag = 1
    </select>
</mapper>
