<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.ShopMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `shop_name`,
        `shop_type`,
        `shop_photo`,
        `shop_address`,
        `shop_phone`,
        `shop_content`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findShopPage" resultType="com.jiumai.base.biz.vo.ShopVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_shop
        WHERE del_flag = 1
    </select>
</mapper>
