<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.TemporaryParkingMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `license_plate_number`,
        `parking_id`,
        `pay_parking_id`,
        `parking_lot_code`,
        `parking_lot_name`,
        `entry_time`,
        `depart_time`,
        `payment_amount`,
        `payment_time`,
        `create_id`,
        `create_name`,
        `create_date`,
        `create_phone`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`,
        `a`
    </sql>

    <select id="findTemporaryParkingPage" resultType="com.jiumai.base.biz.vo.TemporaryParkingVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_temporary_parking
        WHERE del_flag = 1
    </select>
</mapper>
