<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.WelcomeCheckMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `charge_person_id`,
        `charge_person_name`,
        `street_id`,
        `wc_title`,
        `wc_type`,
        `wc_date`,
        `wc_content`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findWelcomeCheckPage" resultType="com.jiumai.base.biz.vo.WelcomeCheckVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_welcome_check
        WHERE del_flag = 1
    </select>
</mapper>
