<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumai.base.biz.mapper.WorkResultMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,
        `work_name`,
        `work_type`,
        `executor_id`,
        `executor_name`,
        `start_time`,
        `end_time`,
        `work_status`,
        `result_desc`,
        `images`,
        `create_id`,
        `create_name`,
        `create_date`,
        `modify_id`,
        `modify_name`,
        `modify_date`,
        `del_flag`,
        `version`
    </sql>

    <select id="findWorkResultPage" resultType="com.jiumai.base.biz.vo.WorkResultVO">
        SELECT <include refid="Base_Column_List"></include>
        FROM pm_work_result
        WHERE del_flag = 1
    </select>
</mapper>